<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
    <title>Cadastro 2</title>
  </head>
  <body>

    <div class="blocoprincipal">
    
      <div class="bloco-cor">
        <div class="titulo_colorido">
          <h1 class="bloco-login-mensagem">Cadastre seu currículo</h1>
        </div>
      </div>

      <div class="bloco_cadastro">
        
        <div class="container-formulario">

          <form class="formulario" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="campos">
              <label for="nome">Nome</label>
              <input
                class="icon-usuario"
                type="text"
                id="nome"
                name="nome"
                value="{{ form.nome.value|default:'' }}"
                required
              />
              {{ form.nome.errors }}
            </div>
            
            <div class="campos">
              <label for="email">E-mail</label>
              <input
                class="icon-senha"
                type="email"
                id="email"
                name="email"
                value="{{ form.email.value|default:'' }}"
                required
              />
              {{ form.email.errors }}
            </div>

            <div class="campos">
              <label for="telefone">Telefone</label>
              <input
                class="icon-senha"
                type="tel"
                id="telefone"
                name="telefone"
                value="{{ form.telefone.value|default:'' }}"
                required
              />
              {{ form.telefone.errors }}
            </div>

            <div class="campos">
              <label for="cargo">Cargo Desejado</label>
              <input
                class="icon-senha"
                type="text"
                id="cargo"
                name="cargo"
                value="{{ form.cargo.value|default:'' }}"
                required
              />
              {{ form.cargo.errors }}
            </div>

            <div class="campos">
              <label for="curriculo">Currículo</label>
              <div class="file-field input-field">
                  <div class="btn">
                  <span>Arquivo</span>
                  {{ form.arquivo }}
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" placeholder="Selecione um arquivo">
                </div>
                {{ form.arquivo.errors }}
              </div>
            </div>

            <div class="campos">
              <label for="escolaridade">Escolaridade</label>
              <div class="input-field">
                {{ form.escolaridade }}
                {{ form.escolaridade.errors }}
              </div>
            </div>

            <div class="campos-obs">
              <label for="obs">Observações</label>
              <input
                class="icon-senha"
                type="text"
                id="obs"
                name="obs"
                value="{{ form.obs.value|default:'' }}"
              />
              {{ form.obs.errors }}
            </div>
        
            <button type="submit" class="btn-env">Enviar</button>
          </form>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, {}); 
      });
    </script>
  </body>
</html>