<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <title>Home</title>
</head>
<body>
  <header>
    <nav>
      <div class="logo">SESAP</div>
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#curriculos">Currículos</a></li>
        <li><a href="#contato">Contato</a></li>
      </ul>
    </nav>
  </header>
  <div class="welcome">
    <h1>Bem vindo!</h1>
  </div>

  <div class="container">
    <h1>Selecione as opções</h1>
    
    <div class="options">
      
      <div class="option selected">
        <a href="{% url 'cadastro' %}">
            <div class="icon">📄</div>
            <h2>Novo currículo</h2>
            <p>Cadastre aqui seu currículo!</p>
        </a>
      </div>

      <div class="option">
        <a href="{% url 'inscricoes' %}">
            <div class="icon">📊</div>
            <h2>Currículo cadastrados</h2>
            <p>Veja aqui a relação de currículos cadastrados!</p>
        </a>
      </div>

    </div>
    
    <div class="buttons">
      <button class="btn next">Next</button>
    </div>

  </div>
</body>
</html>