@font-face {
  font-family: "Montserrat-Regular";
  src: url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
}

body {
  margin: 0;
  background-color: #F4F4F8;
  width: 100vw;
  height: 100vh;
  justify-items: center;
  align-content: center;
}

p,
h1,
h2,
h3,
a,
span,
form,
input {
  margin: 0;
  font-family: "Montserrat-Regular", sans-serif;
}

a {
  color: #000000;
  text-decoration: none;
}

.btn{
  background-color: #2499c7;
}

.blocoprincipal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  max-width: 1200px;
  gap: 5px;
  padding: 40;
}

.bloco_cadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 624px;
  width: 796px;
  padding: 5px 55px;
  border-radius: 11px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.bloco-login-mensagem {
  display: block;
  font-size: xx-large;
  font-family: "Montserrat-Bold", sans-serif;
  place-self: flex-start;
}


.btn-env{
  font-family: "Montserrat-Bold", sans-serif;
  display: block;
  grid-column: 1 / -1;
  width: 40%;
  padding: 15px 40px;
  border-radius: 7px;
  border: 0;
  background-color: #2499c7;
  color: #ffffff;
  cursor: pointer;
  font-size: large;
}

.bloco-cor {
  display: flex;
  justify-content: center;
  background: rgb(183,229,249);
  background: linear-gradient(180deg, rgba(183,229,249,1) 14%, rgba(44,165,217,1) 100%);
  height: 624px;
  width: 429px;
  border-radius: 11px;
}

.titulo_colorido{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 50px;
}

.input-usuario-container input {
  width: 100%;
  padding: 18px;
  border: 0px solid #ccc;
  background: #f3f3f3;
  border-radius: 7px;
  box-sizing: border-box;
}

.container-formulario {
  display: flex;
  flex-direction: column;
}

.formulario {
  display: grid;
  
  gap: 25px;
}
