@font-face {
  font-family: "Montserrat-Regular";
  src: url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400; /* Peso normal */
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
}

body {
  margin: 0;
  background-color: #F4F4F8;
  width: 100vw;
  height: 100vh;
  justify-items: center;
  align-content: center;
}

label{
  font-size: 40px;
  color: #545454;
  font-weight: bold;
}

h1,
span,
form,
input {
  margin: 0;
  font-family: "Montserrat-Regular", sans-serif;
}

.btn{
  background-color: #2499c7;
}

.blocoprincipal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  max-width: 1200px;
  gap: 5px;
}

.bloco_cadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 724px;
  width: 796px;
  padding: 5px 55px;
  border-radius: 11px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.bloco-login-mensagem {
  display: block;
  font-size: xx-large;
  font-family: "Montserrat-Bold", sans-serif;
  place-self: flex-start;
  color: #3DACDD;
  font-size: 48px;
}

.btn-env{
  font-family: "Montserrat-Bold", sans-serif;
  display: block;
  width: 40%;
  padding: 15px 40px;
  border-radius: 7px;
  border: 0;
  background-color: #2499c7;
  color: #ffffff;
  cursor: pointer;
  font-size: large;
  margin: 20px auto 0; /* Centraliza o botão e adiciona margem superior */
}

.bloco-cor {
  display: flex;
  flex-wrap: wrap;
  background: rgb(183,229,249);
  background: linear-gradient(180deg, rgba(183,229,249,1) 14%, rgba(44,165,217,1) 100%);
  height: 724px;
  width: 429px;
  border-radius: 11px;
}

.logo{
  display: flex;
  align-items: flex-end;
  color: #B7E5F9;
  font-size: 50px; /* Corrigido o tamanho da fonte, 5018px parece ser um erro */
}

.titulo_colorido{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 50px;
}

.input-usuario-container input {
  width: 100%;
  padding: 18px;
  border: 0px solid #ccc;
  background: #f3f3f3;
  border-radius: 7px;
  box-sizing: border-box;
}

.container-formulario {
  display: flex;
  flex-direction: column;
}

.formulario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.campos {
  flex: 0 1 45%;
  margin-bottom: 25px;
}

.campos-obs {
  flex: 1 1 100%;
  margin-bottom: 25px;
}